extends layout

block content
	.container
		.pull-right
		#container-img
			.row-fluid
				ul.nav.nav-pills
					li#about.active
						a#abtme(href='#') About Me
					li#projects
						a#prjt(href='#')  Projects
				.row-fluid
					.desc
		.footer
			footer#copyright.lato-ttf
				| Copyright © 2013. Vishwa Srikaanth.